# Airflow logs & data
logs/
plugins/__pycache__/
dags/__pycache__/
__pycache__/

# Environment files
.env
config/*.json
config/*.yaml
config/*.yml

# PyCharm, VSCode IDE settings
.vscode/
.idea/

# Python artifacts
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Docker artifacts
*.pid
*.sock
*.log

# Misc
.DS_Store
*.swp
*.bak
