# Terraform files
.terraform/
terraform.tfstate
terraform.tfstate.backup
terraform.tfvars
.terraform.lock.hcl

# SSH Key
# keonho-key.pem   # It's recommended to manage keys elsewhere (e.g. ~/.ssh/)

# Misc
*.swp
*~
