# MLflow stored files/directories
mlruns/
mlflow.db
artifacts/

# Cache / logs
*.log
*.db
__pycache__/

# Git & IDE
.git/
.vscode/
.idea/

# Other notebook caches
.ipynb_checkpoints/
*.ipynb
