# Unnecessary Python files
__pycache__/
*.py[cod]
*.pyo

# Environment variables
.env

# Git/IDE
.git/
.vscode/
.idea/

# MLflow log directory (always exclude!)
mlruns/

# Jupyter, others
.ipynb_checkpoints/
*.ipynb

# Logs, cache
*.log
logs/
*.db
